@model ProductionWIP.Models.EmbedCodes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmbedCodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmbedCodesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
