<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProductionWIP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <style>
        .input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated && 1 == 2)
                {
                    <a class="navbar-brand">Production WIP</a>
                }
                else
                {
                    @Html.ActionLink("Production WIP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin Home", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Data Records", "Admin", "HeatTreat")</li>
                        <li>@Html.ActionLink("Columns", "Index", "Columns")</li>
                        <li>@Html.ActionLink("Embed Codes", "Index", "EmbedCodes")</li>
                        <li>@Html.ActionLink("Operators", "Index", "Operators")</li>

                    }

                </ul>

                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Production WIP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
        function RefreshPartial(response, id, target) {

            if (target == undefined) {
                target == id;
            }

            var html = $(response).find("#" + id).html();
            $("#" + id).html(html);
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
